@page "/about"

<FluentLabel Typo="Typography.H1"> Peter Himschoot </FluentLabel>
<FluentLayout Style="margin-top: 10px;">

  <FluentStack Orientation="Orientation.Horizontal">
    <img class="peter" src="/img/Peter2021_Git.jpg" alt="Peter Himschoot" />
    <FluentStack Orientation="Orientation.Vertical">
      <p>
        <em>Peter Himschoot</em> works as a lead trainer, architect,
        and strategist at <a href="https://www.u2u.be" target="_blank">U2U</a>. He has a wide interest in software
        development that includes applications for the Web,
        Windows, and mobile devices. He has trained thousands of
        developers, is a regular speaker at international conferences,
        and has been involved in many web and mobile
        development projects as a software architect. He has been
        a <a href="https://mvp.microsoft.com/en-us/RD" target="_blank">Microsoft Regional Director</a> (from 2003 to 2019) and cofounded
        the Belgian Visual Studio User Group (<a href="https://www.visug.be/" target="_blank">VISUG</a>) in
        2006.
      </p>
    </FluentStack>
  </FluentStack>

  <br />

  <FluentStack Orientation="Orientation.Horizontal">
    <img class="apress" src="https://media.springernature.com/w158/springer-static/cover-hires/book/979-8-8688-1006-0?as=webp" alt="Full Stack Development with Microsoft Blazor" />
    <FluentStack Orientation="Orientation.Vertical">
      <p>
        <a href="https://link.springer.com/book/9798868810060">Full Stack Development with Microsoft Blazor</a>
      </p>
      <p>
        Become a full-stack web developer using the Microsoft Blazor framework and the techniques shown in this book. This new edition will have you building all kinds of applications in C# and Microsoft .NET 8, from static web sites to fully interactive single page applications, and desktop and mobile applications, in no time.
      </p>
    </FluentStack>
  </FluentStack>

</FluentLayout>

@code {

}
